#booksOnCounter {
  position: absolute;
  width: 14vh;
  transform: rotate(90deg);
  top: 29%;
  left: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#booksOnCounter > p {
  text-align: center;
  padding: 0 10% 5% 10%;
  background-color: #dca9a1;
  font-family: "Pacifico", cursive;
  font-size: 1.8vh;
  color: #6b514e;
  border-top: 13px solid #db9186;
  border-right: 2px solid #db9186;
  border-radius: 5px;
}

#book {
  margin: 0;
  position: absolute;
  width: 600px;
  height: 400px;
  top: 8%;
  left: 5%;
}
.book-cover {
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #DB9186;
  width: 600px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.pages {
  position: absolute;
  top: 0px;
  left: 10px;
  background-color: white;
  width: 290px;
  height: 390px;
  border-radius: 0px 70px 0px 0px;
}

.pages-right {
  left: 300px;
  transform: scaleX(-1);
}

.pagebottom {
  position: absolute;
  top: 320px;
  left: 10px;
  width: 290px;
  height: 70px;
  background-color:#C7B2B0;
  border-radius: 0px 70px 0px 0px;
}

.pagebottom-right {
  left: 300px;
  transform: scaleX(-1);
}

.book-center {
  position: absolute;
  top: 60px;
  left: 299px;
  height: 326px;
  width: 2px;
  background-color: #c7b2b0;
  border-radius: 1px;
}

.text {
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 110%;
  color: #6B514E;
  top: 50px;
  left: 50px;
  width:200px;
}

.right-text {
  left: 375px;
}

#closeBook {
  position: absolute;
  top: 20px;
  right: 30px;
}
