* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #88aaa3;
}

#gameContainer {
  /* display: inline-flex; */
  height: 90vh;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/*Small devices breakpoint*/
@media (min-width: 576px) {
  #gameContainer {
    width: 500px;
  }
}

/* Medium devices breakpoint*/
@media (min-width: 768px) {
  #gameContainer {
    width: 700px;
  }
}

/* Large devices breakpoint */
@media (min-width: 992px) {
  #gameContainer {
  width: 900px;
}
}

/* Extra large devices breakpoint */
@media (min-width: 1280px) {
  #gameContainer {
    width: 80%;
  }
 }



/* Fonts */
.recipe {
  font-family: 'Pacifico', cursive;
}
#temperature {
  font-family: 'VT323', monospace;
}

.wall > h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4vw;
  text-align: right;
  margin-top: 2%;
  margin-right: 5%;
  color: #3B5570;
}


/*Kitchen Background*/
/*wall*/
.wall {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 0;
  background: repeating-linear-gradient(
  -45deg,
 #95bec4,
  #95bec4 30px,
  #f7ecdf 30px,
  #f7ecdf 48px)
}
/*floor*/
.floor {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    background-color: #CCC2BC;
  }

  /*counter*/
  .counterAndOven {
    height: 50%;
    width: 100%;
    top: 40%;
    position: absolute;
  }
  .counterDoorknob1, .counterDoorknob3 {
    position: absolute;
    margin: 0px;
    width: 10px;
    height: 30%;
    top: 15%;
    right: 15%;
    background-color: #3B5570;
    border-radius: 5px;
  }

  .counterDoorknob2, .counterDoorknob4 {
    position: absolute;
    margin: 0px;
    width: 10px;
    height: 30%;
    top: 15%;
    left: 15%;
    background-color: #3B5570;
    border-radius: 5px;
  }


  .counterDoor {
    display: inline-block;
    position: relative;
    margin: 0 2%;
    width: 20%;
    height: 90%;
    top: 5%;
    background-color: #F7ECDF;
  }

  .counterSurface{
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 80%;
    bottom: 10%;
    left: 0;
    background-color: #CEBD98;
  }

  .counter{
    position: relative;
    text-align: center;
    width: 70%;
    height: 100%;
    float: left;
    background-color: #F7ECDF;
  }

  /*Oven*/
  .ovenBackground{
    position: relative;
    margin: 0%;
    width: 30%;
    height: 100%;
    float: right;
    background-color: #D7CDC4;
  }

  .ovenButtons{
    display: inline-block;
    text-align: center;
    margin: 2%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0%;
    right: 0;
    background-color: #D65945;
  }


  /*Toast*/
  .toast{
    position: absolute;
    margin: 10px;
    width: 90px;
    height: 90px;
    top:25%;
    left: 20%;
    border-radius: 20px 20px 20px 20px;
    background-color: #F7D49D;
  }

  /*Bowl*/
  .bowl{
        border-bottom: 100px solid red;
        border-left: 50px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 100px;
      }
